@page
@model mongolab.Pages.Orders.DeleteModel

@{
    ViewData["Title"] = "Delete order";
}

<h2>Delete order</h2>

<h3>Are you sure you want to delete this order?</h3>
<div>
    <h4>Order</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Date
        </dt>
        <dd>
            @(Model.Order.Date.HasValue ? Model.Order.Date.Value.ToString("d") : "N/A")
        </dd>
        <dt>
            Deadline
        </dt>
        <dd>
            @(Model.Order.Deadline.HasValue ? Model.Order.Deadline.Value.ToString("d") : "N/A")
        </dd>
        <dt>
            Status
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Order.Status)
        </dd>
        <dt>
            Payment method
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Order.PaymentMethod)
        </dd>
        <dt>
            Total value
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Order.Total)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Order.ID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to list</a>
    </form>
</div>
